<h1>Add chat room</h1>

<%= form_for @chat_room do |f| %>
    <div class="form-group">
      <div id="error_explanation">
        <h2><%= pluralize(@chat_room.errors.count, "error") %> prohibited this chat_room from being saved:</h2>

        <ul>
          <% @chat_room.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>

      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div>

    <%= f.submit "Add!", class: 'btn btn-primary' %>
<% end %>